@page "/"
@using Web.Data;
@using Web.Compoments;
@using Web.Compoments.Modals;

@using Domain.Entities;

<PageTitle>Index</PageTitle>

<h1>Investimentos Abertos</h1>

Aqui temos as ofertas disponíveis para você no momento:

<EnterpriseCard Enterprises="@enterprises"></EnterpriseCard>

@code {
    private List<Enterprise>? enterprises;

    protected override async Task OnInitializedAsync()
    {
        var service = new Service<Enterprise>();

        enterprises = await service.GetAll();
    }
}
