<Modal
  Title=@("Login")
  Visible=@(Visible)
  ShowModalChanged=@(ShowModalChanged)
  ButtonTextSuccess=@("Entrar")
  ButtonTextCancel=@("Voltar")
  OnSave=@(TryLogin)
>
  <form>
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Email</span>
      </div>
      <input name="email" class="form-control" placeholder="" type="text">
    </div>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Senha</span>
      </div>
      <input name="password" class="form-control" placeholder="" type="password">
    </div>
  </form>
</Modal>

@code {
    [Parameter]
    public bool Visible { get; set; } = false;
    [Parameter]
    public EventCallback<bool> ShowModalChanged { get; set; }

    private void TryLogin()
    {
        
    }
}

<style>
  form {
    padding: 0px 10px;
  }

  .input-group {
    margin: 10px 0px;
  }
</style>
