@using Web.Data;
@using Web.Compoments.Modals

@inherits LayoutComponentBase

@inject GlobalStateService GlobalState
@inject ProtectedSessionStorage ProtectedSessionStore

<PageTitle>InvestUnity</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (GlobalState == null || String.IsNullOrEmpty(GlobalState.Name))
            {
                <a class="btn btn-outline-success" @onclick=(OpenModal)>Login</a>
            }
            else
            {
                <div>Olá, @GlobalState.Name</div>
                <a class="btn btn-outline-success" @onclick=(Logout)>Sair</a>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>

    <LoginModal Visible="@showModal" ShowModalChanged="SetShowModal" />
</div>

@code {
    private bool showModal = false;
    private string name = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var promise = await ProtectedSessionStore.GetAsync<string>("invest-unit-name");
        name = promise.Value ?? "";
    }


    private void SetShowModal(bool value)
    {
        showModal = value;
    }

    private void OpenModal()
    {
        showModal = !showModal;
    }

    private void Logout()
    {
        GlobalState.Clear();
    }
}

